<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>237390961052-cp9hlh2jkdk5or5lvv840uc5fpp9o9sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.237390961052-cp9hlh2jkdk5or5lvv840uc5fpp9o9sh</string>
	<key>API_KEY</key>
	<string>AIzaSyAWeBYyjllRSkZqBJsShjGCNPnOlG6niXA</string>
	<key>GCM_SENDER_ID</key>
	<string>237390961052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.HarpritUdayIvan.QuizApp</string>
	<key>PROJECT_ID</key>
	<string>iosproject2-bccaf</string>
	<key>STORAGE_BUCKET</key>
	<string>iosproject2-bccaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237390961052:ios:49e10f7ba18c955db65059</string>
</dict>
</plist>